@charset "UTF-8";

@font-face {
    font-family: 'MyFont';
    src: url('../font/JetBrainsMono-Regular.ttf');
}

html { scroll-behavior: smooth;}

body {
    font-family: MyFont;
    background-color: rgb(190, 190, 190);
}

.thumbnail-size {
    width: 100vw;
    padding: 0;
}

.adj-jump {
    padding-top: 8vh;
    margin-top: -8vh;
}

.nav-color {
    background-color: #07124d;
    text-decoration-color: darkgray;
}

.under-card {
    padding-bottom: 3vh;
}